
<title>设置-个人信息</title>
<link rel="icon" href="/assets/img/favicon.ico">

<link rel="stylesheet" type="text/css" href="/static/home/css/pages-seckillOrder.css" />
<style type="text/css">
    .card {
        position: relative;
        margin-bottom: 24px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
    .step-progress {
        padding: 16px;
        background-color: #fafafa;
        margin: 0 auto;
    }
    .step-progress .step-slider {
        width: 100%;
    }
    .step-progress .step-slider .step-slider-item {
        width: 25%;
        height: 1px;
        position: relative;
        float: left;
        background-color: #e0e0e0;
    }
    .step-progress .step-slider .step-slider-item:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: -6px;
        right: 0;
        background-color: #fafafa;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        z-index: 2;
        transition: all 0.3s ease-out 0.5s;
        -webkit-transition: all 0.3s ease-out 0.5s;
    }
    .step-progress .step-slider .step-slider-item:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: #b0bec5;
        z-index: 1;
        -webkit-transition: all 0.5s ease-out;
    }
    .step-progress .step-slider .step-slider-item.active:before {
        width: 100%;
        background-color: #ff8f00;
    }
    .step-progress .step-slider .step-slider-item.active:after {
        border-color: #ff8f00;
    }
    .step-content {
        padding: 16px 0;
    }
    .step-content .step-content-foot {
        text-align: right;
    }
    .step-content .step-content-foot button {
        border: 0;
        padding: 8px 16px;
        background-color: #cfd8dc;
        font-size: 14px;
        border-radius: 3px;
        outline: 0;
    }
    .step-content .step-content-foot button:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .step-content .step-content-foot button.out {
        display: none;
    }
    .step-content .step-content-foot button.disable {
        background-color: #eceff1;
    }
    .step-content .step-content-foot button.active {
        background-color: #00acc1;
        color: white;
    }
    .step-content .step-content-body {
        padding: 16px 0;
        text-align: center;
        font-size: 18px;
    }
    .step-content .step-content-body.out {
        display: none;
    }
</style>

<!--header-->
<div id="account">
    <div class="py-container">
        <div class="yui3-g home">
            <!--左侧列表-->
            <div class="yui3-u-1-6 list">

                <div class="person-info">
                    <div class="person-photo"><img src="/static/home/img/_/photo.png" alt=""></div>
                    <div class="person-account">
                        <span class="name">Michelle</span>
                        <span class="safe">账户安全</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-items">
                    <dl>
                        <dt><i>·</i> 订单中心</dt>
                        <dd ><a href="seckillOrder.html">我的订单</a></dd>
                        <dd><a href="seckillorder-pay.html">待付款</a></dd>
                        <dd><a href="seckillorder-send.html">待发货</a></dd>
                        <dd><a href="seckillorder-receive.html">待收货</a></dd>
                        <dd><a href="seckillorder-evaluate.html">待评价</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 我的中心</dt>
                        <dd><a href="seckillperson-collect.html">我的收藏</a></dd>
                        <dd><a href="seckillperson-footmark.html">我的足迹</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 物流消息</dt>
                    </dl>
                    <dl>
                        <dt><i>·</i> 设置</dt>
                        <dd><a href="{:url('home/PerCenter/message')}" >个人信息</a></dd>
                        <dd><a href="{:url('home/PerCenter/address')}" >地址管理</a></dd>
                        <dd><a href="{:url('home/PerCenter/safety')}"  class="list-active">安全管理</a></dd>
                    </dl>
                </div>
            </div>
            <!--右侧主内容-->
            <div class="yui3-u-5-6">
                <div class="body userSafe">
                    <ul class="sui-nav nav-tabs nav-large nav-primary ">
                        <li class="active"><a href="#one" data-toggle="tab">密码设置</a></li>
                        <li><a href="#two" data-toggle="tab">绑定手机</a></li>
                    </ul>
                    <div class="tab-content ">
                        <div id="one" class="tab-pane active">
                            <form action="{:url('home/PerCenter/modPassword')}" method="post" class="sui-form form-horizontal sui-validate" id="jsForm">
                                <div class="control-group">
                                    <label for="inputusername" class="control-label">旧密码：</label>
                                    <div class="controls">
                                        <input id="pwdid" class="fn-tinput" data-rule-remote="http://www.baidu.com" type="password" name="OldPassword" placeholder="输入密码"
                                               required data-msg-required="请输入密码" minlength="6" data-msg-minlength="至少输入6个字符"
                                        />

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputPassword" class="control-label">密码：</label>
                                    <div class="controls">
                                        <input class="fn-tinput" type="password" name="password" value="" placeholder="新密码" required id="password" data-rule-remote="php.php">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="inputRepassword" class="control-label">重复密码：</label>
                                    <div class="controls">
                                        <input class="fn-tinput" type="password" name="confirm_password" value="" placeholder="确认新密码" required equalTo="#password">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <button type="submit" class="sui-btn btn-primary">提交按钮</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="two" class="tab-pane">
                            <!--步骤条-->
<!--                            <div class="sui-steps steps-auto">-->
<!--                                <div class="wrap">-->
<!--                                    <div class="finished">-->
<!--                                        <label><span class="round"><i class="sui-icon icon-pc-right"></i></span><span>第一步 验证身份</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="wrap">-->
<!--                                    <div class="todo">-->
<!--                                        <label><span class="round">2</span><span>第二步 绑定新手机号</span></label><i class="triangle-right-bg"></i><i class="triangle-right"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="wrap">-->
<!--                                    <div class="todo">-->
<!--                                        <label><span class="round">3</span><span>第三步 完成</span></label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="card step-progress">
                                <div class="step-slider">
                                    <div data-id="step1" class="step-slider-item"></div>
                                    <div data-id="step2" class="step-slider-item"></div>
<!--                                    <div data-id="step3" class="step-slider-item"></div>-->
<!--                                    <div data-id="step4" class="step-slider-item"></div>-->
                                </div>
                                <div class="step-content">
                                    <div id="step1" class="step-content-body">
                                        <form class="sui-form form-horizontal sui-validate" data-toggle='validate' id="bind-form">

                                        <div class="control-group">
                                            <label for="inputPassword" class="control-label">验证方式：</label>
                                            <div class="controls fixed">手机验证（{$phones}）</div>
                                        </div>
                                        <div class="control-group">
                                            <label for="inputcode" class="control-label">验证码：</label>
                                            <div class="controls">
                                                <input name="inputcode" type="text" id="inputcode">
                                            </div>
                                            <div ><img onclick="this.src='{:captcha_src()}'+'?'+Math.random()" src="{:captcha_src()}" alt="captcha" /></div>
                                            <div class="controls">
                                                验证码
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="inputRepassword" class="control-label">短信验证码：</label>
                                            <div class="controls">
                                                <input name="msgcode" type="text" id="msgcode">
                                            </div>
                                            <div class="controls">
                                                <input type="button" phone="{$phone}" id="send"  class="sui-btn btn-info" value="发送"></input>
                                            </div>
                                        </div>
                                        <div class="control-group next-btn">
                                            <a id="newphone" class="sui-btn btn-primary" >下一步</a>
                                        </div>
                                    </form>
                                    </div>
                                    <div id="step2" class="step-content-body out">
                                        <form class="sui-form form-horizontal sui-validate" data-toggle='validate' id="bind-form">

                                            <div class="control-group">
                                                <label for="inputPassword" class="control-label">请填写新手机号</label>
<!--                                                <div class="controls fixed">手机验证（{$phones}）</div>-->
                                            </div>
                                            <div class="control-group">
                                                <label for="inputcode" class="control-label">新手机号：</label>
                                                <div class="controls">
                                                    <input name="inputcode" type="text" id="inputcode2">
                                                </div>

                                            </div>
                                            <div class="control-group">
                                                <label for="inputRepassword" class="control-label">短信验证码：</label>
                                                <div class="controls">
                                                    <input name="msgcode" type="text" id="msgcode2">
                                                </div>
                                                <div class="controls">
                                                    <input type="button" phone="{$phone}" id="send2"  class="sui-btn btn-info" value="发送"></input>
                                                </div>
                                            </div>
                                            <div class="control-group next-btn">
                                                <a id="newphone2" class="sui-btn btn-primary" >下一步</a>
                                            </div>
                                        </form>
                                    </div>
<!--                                    <div id="step3" class="step-content-body out">Step 3</div>-->
<!--                                    <div id="step4" class="step-content-body out">Step 4</div>-->
<!--                                    <div id="stepLast" class="step-content-body out">Completed</div>-->
<!--                                    <div class="step-content-foot">-->
<!--                                        <button type="button" class="active" name="prev">Prev</button>-->
<!--                                        <button type="button" class="active" name="next">Next</button>-->
<!--                                        <button type="button" class="active out" name="finish">Finish</button>-->
<!--                                    </div>-->
                                </div>
                            </div>

                            <!--表单-->


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="/static/home//static/home/plugins/jquery.validate/jquery.validate.js"></script>

<script>
    $(function(){
        //jquery.validate
        $("#jsForm").validate({
            submitHandler: function() {
                //验证通过后 的js代码写在这里
            }
        });
        //验证手机号下一步按钮
        $('#newphone').click(function () {
            var inputcode= $('#inputcode').val();
            var msgcode=$('#msgcode').val();
            var data={
                'captcha':inputcode,
                'phonecode':msgcode
            };
            // console.log(data);
            $.ajax({
                'url':"{:url('home/PerCenter/phoneverify')}",
                'type':'post',
                'data':data,
                'dataType':'json',
                'success':function(res){
                    // console.log(res);
                    if(res['code']==200){
                        alert(res['msg']);
                        next();
                    }else{
                        alert(res['msg']);
                    }
                }
            })
        })
        //绑定新手机号下一步按钮
        $('#newphone2').click(function (){
           var newphone2=$('#inputcode2').val();
           var msgcode2=$('#msgcode2').val();
           var data={
               'phone':newphone2,
               'code':msgcode2
           };
           $.ajax({
               'url':"{:url('home/PerCenter/newphone')}",
               'type':'post',
               'data':data,
               'dataType':'json',
               'success':function (res){
                   console.log(res);
                   if(res['code']==200){
                       alert(res['msg']);
                       // next();
                       location.href="{:url('home/PerCenter/safety')}";
                   }else{
                       alert(res['msg']);
                   }
               }
           })
        });
        //发送按钮
        //验证发送按钮
        $('#send').click(function (){
            var phone=$('#send').attr('phone');
            var data={'phone':phone};
            $.ajax({
                'url':"{:url('home/PerCenter/sendcode')}",
                'type':'post',
                'data':data,
                'dataType':'json',
                'success':function (res){
                    console.log(res);
                }
            })
        });
        //新手机号发送按钮
        $('#send2').click(function (){
            var phone=$('#inputcode2').val();
            var data={'phone':phone};
            $.ajax({
                'url':"{:url('home/PerCenter/sendcode')}",
                'type':'post',
                'data':data,
                'dataType':'json',
                'success':function (res){
                    console.log(res);
                }
            })
        })
        //步骤条部分
            var step = 0;
            var stepItem = $('.step-progress .step-slider .step-slider-item');

            // Step Next
            var next=function (){
                // $('.step-content .step-content-foot button[name="next"]').on('click', function() {
                    var instance = $(this);
                    if (stepItem.length - 1 < step) {
                        return;
                    }
                    if (step == (stepItem.length - 2)) {
                        instance.addClass('out');
                        instance.siblings('button[name="finish"]').removeClass('out');
                    }
                    $(stepItem[step]).addClass('active');
                    $('.step-content-body').addClass('out');
                    $('#' + stepItem[step + 1].dataset.id).removeClass('out');
                    step++;
                // });
            }

            // Step Last
            var last=function (){
                // $('.step-content .step-content-foot button[name="finish"]').on('click', function() {
                    if (step == stepItem.length) {
                        return;
                    }
                    $(stepItem[stepItem.length - 1]).addClass('active');
                    $('.step-content-body').addClass('out');
                    $('#stepLast').removeClass('out');
                // });
            }

            // Step Previous
            $('.step-content .step-content-foot button[name="prev"]').on('click', function() {
                var instance = $(this);
                $(stepItem[step]).removeClass('active');
                if (step == (stepItem.length - 1)) {
                    instance.siblings('button[name="next"]').removeClass('out');
                    instance.siblings('button[name="finish"]').addClass('out');
                }
                $('.step-content-body').addClass('out');
                $('#' + stepItem[step].dataset.id).removeClass('out');
                if (step <= 0) {
                    return;
                }
                step--;
            });

    });

    //下面是一些常用的验证规则扩展

    /*-------------验证插件配置 懒人建站http://www.51xuediannao.com/-------------*/

    //配置错误提示的节点，默认为label，这里配置成 span （errorElement:'span'）
    $.validator.setDefaults({
        errorElement:'span'
    });

    //配置通用的默认提示语
    $.extend($.validator.messages, {
        required: '必填',
        equalTo: "请再次输入相同的值"
    });

    /*-------------扩展验证规则使用-------------*/
    //邮箱
    jQuery.validator.addMethod("mail", function (value, element) {
        var mail = /^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$/;
        return this.optional(element) || (mail.test(value));
    }, "邮箱格式不对");

    //电话验证规则
    jQuery.validator.addMethod("phone", function (value, element) {
        var phone = /^0\d{2,3}-\d{7,8}$/;
        return this.optional(element) || (phone.test(value));
    }, "电话格式如：0371-68787027");

    //区号验证规则
    jQuery.validator.addMethod("ac", function (value, element) {
        var ac = /^0\d{2,3}$/;
        return this.optional(element) || (ac.test(value));
    }, "区号如：010或0371");

    //无区号电话验证规则
    jQuery.validator.addMethod("noactel", function (value, element) {
        var noactel = /^\d{7,8}$/;
        return this.optional(element) || (noactel.test(value));
    }, "电话格式如：68787027");

    //手机验证规则
    jQuery.validator.addMethod("mobile", function (value, element) {
        var mobile = /^1[3|4|5|7|8]\d{9}$/;
        return this.optional(element) || (mobile.test(value));
    }, "手机格式不对");

    //邮箱或手机验证规则
    jQuery.validator.addMethod("mm", function (value, element) {
        var mm = /^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$|^1[3|4|5|7|8]\d{9}$/;
        return this.optional(element) || (mm.test(value));
    }, "格式不对");

    //电话或手机验证规则
    jQuery.validator.addMethod("tm", function (value, element) {
        var tm=/(^1[3|4|5|7|8]\d{9}$)|(^\d{3,4}-\d{7,8}$)|(^\d{7,8}$)|(^\d{3,4}-\d{7,8}-\d{1,4}$)|(^\d{7,8}-\d{1,4}$)/;
        return this.optional(element) || (tm.test(value));
    }, "格式不对");

    //年龄
    jQuery.validator.addMethod("age", function(value, element) {
        var age = /^(?:[1-9][0-9]?|1[01][0-9]|120)$/;
        return this.optional(element) || (age.test(value));
    }, "不能超过120岁");
    ///// 20-60   /^([2-5]\d)|60$/

    //传真
    jQuery.validator.addMethod("fax",function(value,element){
        var fax = /^(\d{3,4})?[-]?\d{7,8}$/;
        return this.optional(element) || (fax.test(value));
    },"传真格式如：0371-68787027");

    //验证当前值和目标val的值相等 相等返回为 false
    jQuery.validator.addMethod("equalTo2",function(value, element){
        var returnVal = true;
        var id = $(element).attr("data-rule-equalto2");
        var targetVal = $(id).val();
        if(value === targetVal){
            returnVal = false;
        }
        return returnVal;
    },"不能和原始密码相同");

    //大于指定数
    jQuery.validator.addMethod("gt",function(value, element){
        var returnVal = false;
        var gt = $(element).data("gt");
        if(value > gt && value != ""){
            returnVal = true;
        }
        return returnVal;
    },"不能小于0 或空");

    //汉字
    jQuery.validator.addMethod("chinese", function (value, element) {
        var chinese = /^[\u4E00-\u9FFF]+$/;
        return this.optional(element) || (chinese.test(value));
    }, "格式不对");

    //指定数字的整数倍
    jQuery.validator.addMethod("times", function (value, element) {
        var returnVal = true;
        var base=$(element).attr('data-rule-times');
        if(value%base!=0){
            returnVal=false;
        }
        return returnVal;
    }, "必须是发布赏金的整数倍");

    //身份证
    jQuery.validator.addMethod("idCard", function (value, element) {
        var isIDCard1=/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$/;//(15位)
        var isIDCard2=/^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;//(18位)

        return this.optional(element) || (isIDCard1.test(value)) || (isIDCard2.test(value));
    }, "格式不对");
</script>
